* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  color: white;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000;
}

.contenedor {
  width: 97%;
  margin: auto;
}

header {
  padding: 12px 0;
}
header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  
}
header .logo {
  height: 130px;
  width: 10px;
  margin-left: 50px;
  padding-left: 0px;
  padding-top: 10px;
  
}

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 9px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
  width: 100px;
  height: 100px;
  
}
.imagen-principal {
  font-size: 16px;
  min-height: 18.10em;
  color: white;
  background: url(img/fondo1fal.jpeg);
  border-radius: 80px;
  background-position: center center;
  background-size: cover;
  display: flex;
  padding: 5px;
}
.wrapper{
  display: flex;
  padding-top: 0px;
  justify-content: center;
  background-color: #008f39;
}

.collapsible{
  max-width: 450px;
  overflow: hidden;
  font-weight: 500;
}

.collapsible input{
  display: none;
}

.collapsible label {
  position: relative;
  font-weight: 600;
  /*background: white ; */
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.895) 0 4px 11px 0 rgba(0, 0, 0, 0.8);
  color: #BDECB6;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1;
  font-size: 18px;
  padding-left: 160px;
}

.collapsible label:after{
  content: "";
  position: absolute;
  right: 200px;
  width: 29px;
  height: 25px;
  background: url(img/icon12.png) no-repeat 0 0; 
  transition: all 0.3s ease;
}

.collapsible input:checked + label::after{
  transform: rotate(90deg);
}

.collapsible-text{
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text{
  max-height: 300px;
  padding-bottom: 25px;
  /*background: green; */
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.895) 0 4px 11px 0 rgba(0, 0, 0, 0.8);
  opacity: 1;
  top: 0;
}


.collapsible-text p{
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;

}
h1 {
  width: 100%;
  font-size: 40px;
  text-align: center;
  color: #000;
}
h1 small {
  text-transform: none;
  display: block;
  margin: 20px 0;
  font: 300 20px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #999;
}

h4 {
  width: 100%;
  margin: 2em auto 0;
  font-size: 20px;
  text-align: center;
  color: #000;
}
h4 small {
  text-transform: uppercase;
  display: block;
  margin: 10px 0;
  font: 300 15px 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #999;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: 3em auto 0;
  max-width: 1000px;
  justify-content: space-around;
  align-items: center;
}

.palette__wrapper {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.palette {
  width: 200px;
  height: 200px;
  position: relative;
  display: inline-block;
  perspective: 800px;
}
.palette__cover {
  border-radius: 6px;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 2;
  transition: 0.3s ease;
  transform-origin: top left;
  font: 900 28px/0.9 "Poppins", sans-serif;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
}
.palette__cover__border {
  width: 80%;
  height: 80%;
  border: 7px solid #fff;
  margin: 10%;
}
.palette__cover span {
  display: inline-block;
  position: absolute;
  bottom: 7.5px;
  left: 10px;
  padding: 10px;
  max-width: 50%;
}
.palette__cover__top {
  position: absolute;
  left: 0;
  width: calc(100% + 64px);
  margin-left: -32px;
  z-index: 4;
  border-radius: 3px 3px 4px 4px;
  opacity: 0;
}
.palette__base {
  background: #222;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  border-radius: 8px;
  padding: 15px;
  grid-gap: 8px;
  cursor: pointer;
}
.palette:hover .palette__cover {
  transform: rotateX(78deg);
}
.palette:hover .palette__cover__top {
  animation: startTransition 0.17s forwards 0.1s;
}

@keyframes startTransition {
  0% {
    opacity: 0;
    top: 200px;
    transform: scale(0.5);
    height: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: 22px;
    opacity: 1;
    transform: scale(1);
    height: 15px;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
}
.palette__shade {
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.9);
}

.palette--one .palette__base {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.palette--one .palette__shade:nth-child(1) {
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  margin: 20px 0;
  background: #008f39;
}
.palette--one .palette__shade:nth-child(2) {
  background: #50cf01;
}
.palette--one .palette__shade:nth-child(3) {
  background: #0f8801;
}
.palette--one .palette__shade:nth-child(4) {
  background: #1e5d01;
}
.palette--one .palette__shade:nth-child(5) {
  background: #1e9201;
}
.palette--one .palette__cover {
  background: #50cf01;
}
.palette--one .palette__cover__top {
  background: #50cf01;
}
.palette--one .palette__cover span {
  max-width: 50%;
  background: #50cf01;
}

.palette--two .palette__base {
  display: grid;
  grid-gap: 12px;
  justify-self: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.palette--two .palette__cover {
  background: #008f39;
}
.palette--two .palette__cover__top {
  background: #008f39;
}
.palette--two .palette__cover span {
  max-width: 62%;
  background: #008f39;
}
.palette--two .palette__shade:nth-child(1) {
  background: #1e9201;
}
.palette--two .palette__shade:nth-child(2) {
  background: #50cf01;
}
.palette--two .palette__shade:nth-child(3) {
  background: #1e9201;
}
.palette--two .palette__shade:nth-child(4) {
  background: #50cf01;
}

.palette--three .palette__cover {
  background: #50cf01;
}
.palette--three .palette__cover__top {
  background: #50cf01;
}
.palette--three .palette__cover span {
  max-width: 48%;
  background: #50cf01;
}
.palette--three .palette__base {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.palette--three .palette__shade:nth-child(1) {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  background: #0f8801;
}
.palette--three .palette__shade:nth-child(2) {
  grid-row: 3 / span 2;
  background: #BDECB6;
}
.palette--three .palette__shade:nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
  background: #50cf01;
}
.palette--three .palette__shade:nth-child(4) {
  grid-row: 3 / span 2;
  grid-column-start: 4;
  background: #BDECB6;
}
.palette--three .palette__shade:nth-child(6) {
  background: #0f8801;
}
.palette--three .palette__shade:nth-child(5) {
  background: #BDECB6;
}
.palette--three .palette__shade:nth-child(8) {
  background: #0f8801;
}
.palette--three .palette__shade:nth-child(7) {
  background: #50cf01;
}
