* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    color: white;
}

body {
    background: #E9ECF4;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

.contenedor {
    width: 97%;
    margin: auto;
}

header {
    padding: 12px 0;
}

.wrapper{
    display: flex;
    padding-top: 0px;
    justify-content: center;
    background-color: #008f39;
}

.collapsible{
    max-width: 450px;
    overflow: hidden;
    font-weight: 500;
}

.collapsible input{
    display: none;
}

.collapsible label {
    position: relative;
    font-weight: 600;
    /*background: white ; */
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.895) 0 4px 11px 0 rgba(0, 0, 0, 0.8);
    color: #BDECB6;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
    font-size: 18px;
    padding-left: 130px;
}

.collapsible label:after{
    content: "";
    position: absolute;
    right: 180px;
    width: 29px;
    height: 25px;
    background: url(img/icon12.png) no-repeat 0 0; 
    transition: all 0.3s ease;
}

.collapsible input:checked + label::after{
    transform: rotate(90deg);
}

.collapsible-text{
    max-height: 1px;
    overflow: hidden;
    border-radius: 4px;
    line-height: 1.4;
    position: relative;
    top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.collapsible input:checked ~ .collapsible-text{
    max-height: 300px;
    padding-bottom: 25px;
    /*background: green; */
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.895) 0 4px 11px 0 rgba(0, 0, 0, 0.8);
    opacity: 1;
    top: 0;
}


.collapsible-text p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;

}

header .contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    
}

header .logo {
    height: 130px;
    width: 10px;
    margin-left: 50px;
    padding-left: 0px;
    padding-top: 10px;
    
}

header nav a {
    color: #AAA;
    text-decoration: none;
    margin-right: 9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    width: 100px;
    height: 100px;
    
}
.imagen-principal {
    font-size: 16px;
    min-height: 18.10em;
    color: white;
    background: url(img/fondo1fal.jpeg);
    border-radius: 80px;
    background-position: center center;
    background-size: cover;
    display: flex;
    padding: 5px;
}
/* SLIDER */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    /*background-color: #BDECB6;*/
}
.contenedorr img{
    max-width: 300%;
    width: 1000px;
}
.contenedorr{
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow:hidden;
}
.contenedorr h1{
    font-size: 40px;
    text-align: center;
    color: #000;
}
.contenedorr h2{
    text-align:center;
    background: #008f39;
    margin-bottom:10px;
    border-radius: 3px;
    border-bottom: 4px;
    font-size: 20px;
    color: #BDECB6;
}
.slider{
    display: flex;
    transform: translate3d(0,0,0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.item-slider{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 100%;
}
.paginacion-hover{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.item-paginacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: white;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}
.paginacion-hover:hover{
    transform:scale(2);
}
.paginacion-hover img{
    display: inline-block;
    max-width: none;
    height:100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}
.paginacion-hover:hover img{
    opacity: 1;
    transform: scale(1);    
}
input[id="1"]:checked ~ .slider{
    animation: none;
    transform: translate3d(0,0,0);
}
input[id="1"]:checked ~ .paginacion-hover .item-paginacion[for="1"]{
    background: #fff;
}
input[id="2"]:checked ~ .slider{
    animation: none;
    transform: translate3d(calc(-100%*1), 0,0);
}
input[id="2"]:checked ~ .paginacion-hover .item-paginacion[for="3"]{
    background: #fff;
}
input[id="3"]:checked ~ .slider{
    animation: none;
    transform: translate3d(calc(-100%*2), 0,0);
}
input[id="3"]:checked ~ .paginacion-hover .item-paginacion[for="3"]{
    background: #fff;
}
@keyframes autoplay{
    33%{
        transform:translate3d(calc(-100%*0),0,0);
    }
    66%{
        transform:translate3d(calc(-100%*1),0,0);
    }
    100%{
        transform:translate3d(calc(-100%*2),0,0);
    }
}

.titulo-des{
    margin-left: 90px;
    font-size: 30px;
    color: #000;
}

/* DESCRIPCION */
.contenedor-des {
    display: flex;
    margin-top: 15px;
    padding: 0px;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
}
.descripcion{
    padding-top: 0%;
    padding-left: 15px;
    font-size: 20px;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    color: #000;
}
.servicios{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.servicio-individual{
    width: 28%;
    text-align: center;
}
.servicio-individual img{
    width: 100%;
}
.servicio-individual h3{
    margin: 10px 0;
    color: #000;
}

/* RESEÑAS-COMENTARIOS  */
.cajaResena {
    background-color: rgb(0, 0, 0);
    color: black;
    padding: 10px;
    margin: 20px;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px rgb(6, 4, 12, 0.801);
    display: flex;
    padding-left: 100px;
    margin-top: 1px;
    margin-left: 320px;
}

/* CONTENEDOR DE SUCURSALES */
.catalogo-juegos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.titulo-juegos {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
    text-indent: 2em;
    font-family: 'Oswald', sans-serif;
}
 
.cat img {
    width: 250px;
    height: 300px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}
 
.cat {
    margin: 15px;
    text-decoration: none;
}
 
.cat p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
 
.cat-juego1 .boton {
    background:#008f39;
    border: none;
    border-radius: 0.31em;
    padding: 0.93em;
    color: #000;
    cursor: copy;
    font-size: 15px;
    position: relative;
    left: 60px;
    margin-left: 15px;
}
 
.cat-juego2 .boton {
    background: #409dc4;
    border: none;
    border-radius: 0.31em;
    padding: 0.93em;
    color: #fff;
    cursor: copy;
    font-size: 15px;
    position: relative;
    left: 30px;
    margin-left: 15px;
}

/* RESEÑAS - COMENTARIOS */
.cajaResena {
    background-color: #409dc4;
    color: black;
    padding: 5px;
    margin: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 10px 6px -6px rgb(6, 4, 12, 0.801);
    display: flex;
    padding-left: 25px;
    margin-top: 1px;
    margin-left: 420px;
}

.contenidoTexto {
    padding-top: 10px;
    display: flex;
}

.contenidoTexto p {
    text-align: left;
    padding-left: 20px;
    font-size: 21px;
}

.contenidoTexto img {
    max-width: 300px;
    max-height: 100px;
}

.calificacionResena {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;


}

.calificacionResena .star {
    display: flex;
    align-items: center;
}

.calificacionResena h4 {
    padding-right: 0px;
    font-size: 21px;
    text-align: justify;
}

.imagen-as{
    width: 100%;
    padding: 30px;
}
.imagen-as img{
    float: inline-start;
    width: 300px;
    height:300px;
}
